<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marketplace de NFTs</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <main>
            <section class="nft-gallery">
                <div class="nft-card">
                    <img src="{{ metadata.image }}"">
                    <h2> Nombre: {{ metadata.name }}</h2>
                    <p class="descripcion"> Descripcion: {{ metadata.description }} </p>
                </div>
            </section>
        </main>
    </body>

</html>
