<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace de NFTs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1> Buscador de NFTs </h1>
    </header>
    <main>
        <form method="get" action="{% url 'index' %}">
            <label for="contract_address"> Direccion del contrato: </label>
            <input type="text" id="contract_address" name="contract_address" required><br><br>
            <label for="token_id"> ID del NFT: </label>
            <input type="number" id="token_id" name="token_id" required><br><br>

            <button type="submit">Buscar</button>
        </form>
    </main>
</body>